__pycache__/app.cpython-38.pyc
models/__pycache__/database.cpython-38.pyc
models/__pycache__/models.cpython-38.pyc
*.cpython-38.pyc

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
