<!DOCTYPE html>
<html>
    <head>
        <title>race-schedule 一覧</title>
    </head>
    <body>
        <h1>race-schedule 一覧</h1>
        <table>
            <tr>
                <th>u-name-id</th>
                <th>u-farm-name</th>
                <th>u-name</th>
                <th>created_at</th>
                <th>updated_at</th>
                <th>race_id</th>
                <th>class_id</th>
                <th>calendar_id</th>
                <th>race_name</th>
                <th>meters</th>
                <th>grade_id</th>
                <th>grade</th>
                <th>course_id</th>
                <th>course</th>
                <th>roll_id</th>
                <th>roll</th>
                <th>type_distance_id</th>
                <th>type_distance</th>
                <th>type_ground_id</th>
                <th>type_ground</th>
                <th>created_at</th>
                <th>updated_at</th>
            </tr>

            {% for race in races %}
            <tr>
                <td>{{race.u-name-id}}</td>
                <td>{{race.u-farm-name}}</td>
                <td>{{race.u-name}}</td>
                <td>{{race.created_at}}</td>
                <td>{{race.updated_at}}</td>
                <td>{{race.race_id}}</td>
                <td>{{race.class_id}}</td>
                <td>{{race.calendar_id}}</td>
                <td>{{race.race_name}}</td>
                <td>{{race.meters}}</td>
                <td>{{race.grade_id}}</td>
                <td>{{race.grade}}</td>
                <td>{{race.course_id}}</td>
                <td>{{race.course}}</td>
                <td>{{race.roll_id}}</td>
                <td>{{race.roll}}</td>
                <td>{{race.type_distance_id}}</td>
                <td>{{race.type_distance}}</td>
                <td>{{race.type_ground_id}}</td>
                <td>{{race.type_ground}}</td>
                <td>{{race.created_at}}</td>
                <td>{{race.updated_at}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
